header {
    display: flex;
    gap: 10px;
}

#home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #header-image {
    height: auto;
    width: 500px;
    object-fit: contain;
    max-height: 300px;
    border: 1px solid black;
} */

.page-introduction {
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

li {
    display: inline-block;
}

#nav-of-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

